<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-4">

  <div class="container-xxl">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 text-sm-center text-lg-start">
        <h2 class="mb-lg-0">Yuk Lapor</h2>
      </div>
      <div class="col-lg-6 text-sm-center text-lg-end">
        <p>© 2025 YukLapor. Solusi Cerdas untuk Jalanan Lebih Aman.</p>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->