<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- ===============================================-->
<!--    Document Title-->
<!-- ===============================================-->
<title>Yuk Lapor | Pelaporan Jalan Kabupaten Indramayu</title>


<!-- ===============================================-->
<!--    Favicons-->
<!-- ===============================================-->
<link rel="apple-touch-icon" sizes="180x180"
  href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
  href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16"
  href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}">
<meta name="theme-color" content="#ffffff">


<!-- ===============================================-->
<!--    Stylesheets-->
<!-- ===============================================-->
<!-- <link href="assets/css/theme.css" rel="stylesheet" /> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/swiper/swiper-bundle.min.css') }}">
<style>
  #navbar {
    background-color: #f9fafd !important;
    /* atau ganti dengan warna lain */
    backdrop-filter: none !important;
    /* matikan efek blur jika ada */
    box-shadow: 0 2px 4px rgb(249, 250, 253);
    /* opsional: menambah bayangan */
  }
</style>